body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Code CSS pour le Header */
.header {
    background-image: url(../immobilier/assets/images/header/headerbg.jpg);
    background-size: cover;
    height: 450px;
    width: 100%;
    color: white;
}

.header a {
    color: black;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    color: white;
}

.header-building {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-header-building {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header-building img{
    width: 100px;
    height: 100px;
}

.header-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-house-hand img {
    width: 600px;
    height: 400px;
    position: relative;
    top: -130px;
}

.text-header-building a {
    color: #fcf5fe;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.text-header-building a:nth-child(2) {
    color: #abd543;
    font-weight: bold;
    margin-top: 10px;
}

.detail-pourcentage {
    position: relative;
    top: -70px;
}

.detail-pourcentage , .detail-honoraires, .btn-savoir{
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
}

.header-contact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
}

.espace-client {
    border: 2px solid #baa9bc;
    padding: 5px 15px;
    background-color: #36183a;
    color: white;
    margin-right: 10px;
    font-size: 16px;
    margin-top: -40px;
}

.espace-client a {
    color: #faf8fb;
    font-size: 10px;
    text-decoration: none;
}

.header-reseaux {
    border: 1px solid #8b934f;
    display: flex;
    flex-direction: row;
    margin-top: -54px;
}

.facebook , .google, .twitter {
    padding: 5px;
    height: 45px;
}

.facebook i, .google i, .twitter i {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.google {
    background-color: #a4cf37;
}

.facebook {
    background-color: #95bf2d;
}

.twitter {
    background-color: #87a92e;
}

.detail-pourcentage a {
    font-size: 25px;
    color: #ad67bd;
    text-decoration: none;
}

.detail-pourcentage span:nth-child(1){
    font-size: 60px;
}

.detail-pourcentage span:nth-child(2){
    font-size: 30px;
    position: relative;
    top: -27px;
    left: -7px;
}

.detail-pourcentage span:nth-child(3) {
    font-size: 20px;
    position: relative;
    left: -30px;
}

.detail-pourcentage span:nth-child(4) {
    font-size: 20px;
    position: relative;
    left: -10px;
    top: -27px;
    line-height: 1px;
    font-weight: bold;
}

.detail-pourcentage span:nth-child(5) {
    font-size: 20px;
    position: relative;
    left: -175px;
    line-height: 1px;
    font-weight: bold;
}


.detail-honoraires {
    font-size: 10px;
    line-height: 1px;
}

.btn-savoir {
    background-color: #a4cf37;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-savoir:hover {
    background-color: #87a92e;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: -102px;
    color: white;
    padding: 20px 40px;
    width: 80%;
    margin-left: 5%;
    background-color: #34193c;
}

.header-bottom a {
    color: #afa2b3;
    text-decoration: none;
}

.header-bottom a:hover {
    text-decoration: underline;
}


/* Code CSS pour la Section First-Section "Qui Sommes nous ?"  */


.first-section {
    margin-top: 90px;
}
.title, .description-entreprise {
    text-align: center;
} 

.title {
    font-size: 20px;
    color: #38263d;
    font-weight: bold;
}


.description-entreprise {
    font-size: 15px;
    color: #5e4d62;
}

.description-entreprise span {
    color: #5e4d62;
    font-weight: bold;
}

.group-first-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.icon-whoarewe {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.group-first-section a {
    color: #2d1731;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}

.icon-whoarewe i {
    color: #a4cf37;
    font-size: 25px;
    background-color: #36183a;
    border-radius: 50%;
    padding: 10px;
    margin-top: 15px;
}

.reduced-agency-fees , .quality-service , .targeted-visits , .short-deadlines {
    margin-top: 10px;
}

.btn-infos-prestations  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-infos-prestations a {
    background-color:#a4cf37;
    border: 1px solid #a4cf37;
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-infos-prestations a:hover {
    background-color: #87a92e;
}


/* Code CSS pour la Section "Nos Services En Ligne"  */

.service-online {
    margin-top: 50px;
    padding: 20px 40px;
    height: 450px;
    width: 80%;
    margin-left: 5%;
    background-image: url(../immobilier/assets/images/header/headerbg.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.title-service-online h3{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.group-online {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.title-group-online {
    text-align: center;
    margin-bottom: 50px;

}

.title-group-online a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #a76dbd;
    margin-bottom: 50px;
}



.diagnostics, .rendez-vous, .simulateurs, .partenariat {
    padding: 10px;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}


.para-group-online p {
    text-align: center;
    font-size: 15px;
    color: #a76dbd;
}

.icon-group-online i {
    color: #a76dbd;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35%;
    transition: color 0.3s ease;
    text-align: center; 
}

.btn-group-online button{
    width: 160px;
    height: 40px;
    background-color: #a962be;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align: center; 
}

.btn-group-online  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn-group-online button:hover {
    background-color: #924d9b;
}

.group-online button:nth-child(1) {
    position: relative;
}

/*  Code CSS partie "QUE RECHERCHEZ-VOUS ? " */

.searchyou-section{
    background-color: #e9e7ea;
    padding: 20px 20px;
    height: 300px;
    margin-bottom: 20px;
}

.title-searchyou h3 {
    text-align: center;
    font-size: 20px;
    color: #38263d;
    font-weight: bold;
}

.searchyou-group {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.bien, .localisation, .budget {
    display: flex;
    flex-direction: column;
}

label {
    color: #55425b;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

select {
    border-radius: 5px;
    background-color: #e9e8ed;
}

.searchyou-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.searchyou-btn button{
   width: 200px;
    height: 40px;
    background-color: #a6cf37;
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: white;
}

.searchyou-btn button:hover {
    background-color: #87a92e;
}

.devise1 {
    position: relative;
    left: -20px
}

.devise2 {
    position: relative;
    left: -20px
}



/* Code CSS pour le FOOTER  */

footer div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-bottom div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    padding: 20px 40px;
    width: 75%;
    background-color: #34193c;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom1 p {
    font-size: 15px;
    color: #5e4d62;
    text-align: center;
}